// Typography
// ---------------------------------------

h1 {
  @include font-size(46);
  @include vertical-rhythm;
  font-weight: normal;

  @include bp($bp-lg) {
    @include font-size(36);
  }

  @include bp($bp-md) {
    @include font-size(30);
  }
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
