// Colors
// ---------------------------------------

$red: tomato;

$gray: #999;

$color-body: #444;
$color-primary: $red;


// Fonts
// ---------------------------------------

$font-primary: "Quicksand", "Helvetica Neue", "Arial", sans-serif;


// Misc
// ---------------------------------------

$spacing-horizontal: 20px;
$spacing-vertical: 20px;

$page-width: 1000px;
