html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font: normal #{percentage($em-base/16)}/1.4 $font-primary;
  color: $color-body;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: auto;
  max-width: $page-width;
  min-width: 320px;
  padding: 0 20px;
}

img {
  max-width: 100%;
}
