.user-profile {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.profile-name {
  &.is-hovered {
    color: #aaa;
  }
}

@include bp(650) {
  .social-links {
    > li {
      display: block;
      margin-right: 0;
    }
  }

  .social-link {
    display: inline-block;
    padding: 10px;
  }
}
