.user-profile {
  height: 100%;
  padding: 20px 0;
  text-align: center;

  .container {
    @include vertical-center;
  }
}

.profile-name {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;

  &.is-hovered {
    color: #aaa;
  }
}

@include bp(650) {
  .user-profile {
    .nowrap {
      display: block;
    }

    @include bp(420, $dimension: height) {
      .container {
        @include transform(none);
        position: static;
      }
    }
  }

  .social-links {
    > li {
      display: block;
      margin-right: 0;
    }
  }

  .social-link {
    display: inline-block;
    padding: 10px;
  }
}
