<div class="container">
  <h1>
    Hi! I'm <span class="page-name {{if hasActiveSocial "is-hovered"}}">{{liquid-bind name}}</span>, {{user.statement}}.
  </h1>

  <ul class="social-links list-inline">
    {{#each user.socialLinks as |socialLink|}}
      {{social-link class="social-link" onMouseEnter="setActiveSocial" onMouseLeave="resetActiveSocial" socialLink=socialLink tagName="li"}}
    {{/each}}
  </ul>
</div>