<div class="container">
  <h1>
    Hi! I'm <span class="nowrap"><span class="profile-name {{if hashoveredSocial "is-hovered"}}">{{name}}</span>,</span> {{user.statement}}.
  </h1>

  <ul class="social-links list-inline">
    {{#each user.socialLinks as |socialLink|}}
    <li>{{social-link onMouseEnter="setHoveredSocial" onMouseLeave="resetHoveredSocial" socialLink=socialLink tagName="a"}}</li>
    {{/each}}
  </ul>
</div>